<Files *.mp3,*.png>
   ForceType application/octet-stream
   Header set Content-Disposition attachment
</Files>

ErrorDocument 500 https://satyrn.dev/error/500.html
ErrorDocument 401 https://satyrn.dev/error/401.html
ErrorDocument 404 https://satyrn.dev/error/404.html
