/* Layout */
html {
    margin: 0px;

    user-select: none;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;

    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin: 0px;

    background: #0d0d0d;
    color: #e6d9e6;

    font-family: sans-serif;
    font-size: 5vw;
    text-align: center;
}
.content {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: fit-content;
}
.nameplate {
    display: block;
    height: fit-content;
}
.links {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    display: block;
    width: fit-content;
    height: fit-content;

    font-size: 1.25em;
    line-height: 2em;
    text-align: left;
}

/* Text */
h1 {
    font-size: 2.25em;
    transition: color .25s, text-shadow .25s;
    transition-timing-function: ease;
}

ul {
    list-style-type: none;
}
a {
    color: #e6d9e6;

    font-style: normal;
    text-decoration: none;

    transition: color .25s, text-shadow .25s;
    transition-timing-function: ease;
}
a:hover {
    color: #d88ed8;

    text-decoration: underline;
    text-shadow: 0.01em 0.01em 0.25em #3f3f3f, 0.01em 0.01em 0.28em #3f3f3f;
}

/* Images */
.ico {
    width: 1em;
    height: 1em;
    margin-right: 0.625em;

    vertical-align: middle;
}

/*
 * Desktops, non-mobile devices
 */
@media screen and (orientation: landscape) and (min-width: 40em) {
    /* Layout */
    body {
        font-size: 2vw;
    }
    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: fit-content;
    }
    .nameplate {
        display: inline-block;
        padding-right: 1.25em;
        vertical-align: middle;

        text-align: right;

        border-color: #e6e6e6;
        border-right: 0.25em double;
    }
    .links {
        left: 0%;
        transform: translate(0%, 0%);

        display: inline-block;
        vertical-align: middle;

        font-size: 1em;
    }

    /* Text */
    h1 {
        border-bottom: none;
    }
    h1:hover {
        color: #d88ed8;
        text-shadow: 0.005em 0.005em 0.0625em #3f3f3f, 0.005em 0.005em 0.07em #3f3f3f;
    }
}
