/* Layout */
html {
    margin: 0px;

    user-select: none;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;

    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin: 0px;

    background: #0d0d0d;
    color: #e6d9e6;

    font-family: sans-serif;
    font-size: 5vw;
    text-align: center;
}
.content {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: fit-content;
}
.nameplate {
    display: block;
    height: fit-content;
}
.links {
    display: inline-block;
    width: fit-content;
    height: fit-content;

    font-size: 6vw;
    line-height: 2em;
    text-align: left;
    vertical-align: middle;
}

.links ul li::before {
    content: "› ";
    text-align: right
}

div#site-links ul li {
    margin-bottom: 0.25em;
}

/* Text */
h1 {
    font-size: 2.25em;
    transition: color .25s, text-shadow .25s;
    transition-timing-function: ease;
}

ul {
    list-style-type: none;
    padding-left: 0em;
}

li {
    text-transform: lowercase;
}

a {
    color: #e6d9e6;

    font-style: normal;
    text-decoration: none;

    transition: color .25s, text-shadow .25s;
    transition-timing-function: ease;
}
a:hover {
    color: #d88ed8;

    text-shadow: 0.01em 0.01em 0.25em #3f3f3f, 0.01em 0.01em 0.28em #3f3f3f;
}

h1:hover {
    color: #d88ed8;

    text-shadow: 0.01em 0.01em 0.25em #3f3f3f, 0.01em 0.01em 0.28em #3f3f3f;
}

/* Images */
.ico {
    width: 1em;
    height: 1em;
    margin-right: 0.625em;
    padding-bottom: 0.125em;

    vertical-align: middle;
}

.hidden-link {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 1vw;
    color: #0c0c0c;
    margin-left: 2px;
    font-family: monospace
}

/*
 * Desktops, non-mobile devices
 */
@media screen and (orientation: landscape) and (min-width: 40em) {
    /* Layout */
    body {
        font-size: 2vw;
    }
    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: fit-content;
    }
    .nameplate {
        display: block;
        text-align: center;
        position: relative;
        width: fit-content;
        height: fit-content;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    div#site-links {
        position: relative;
        display: inline-block;
        margin-left: 1em;
        width: fit-content;
        height: fit-content;
        vertical-align: middle;
    }
    div#site-links ul {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    div#site-links ul li {
        width: fit-content;
        height: fit-content;
        margin-bottom: 0.15em;
        margin-top: 0.15em;
    }
    div#site-links ul li:first-child {
        margin-top: 0em;
    }
    div#site-links ul li:last-child {
        margin-bottom: 0em;
    }
    div#site-links ul li::before {
        content: "› ";
        text-align: left;
    }
    h1 {
        font-size: 3.25em;
    }
    .links {
        position: relative;
        height: fit-content;
        font-size: 3vw;
    }
    .links ul {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .links ul li {
        display: inline-block;
        font-size: 0.7em;
    }
    .links ul li::before {
        content: ""
    }
    .links ul li::after {
        font-size: 1.25em;
        padding-left: 0.1em;
        padding-right: 0.1em;
        content: '|'
    }
    .links ul li:first-child::after {
        padding-left: 0em
    }
    .links ul li:last-child::after {
        padding-right: 0em;
        content: ''
    }

    /* Text */
    h1 {
        display: inline-block;
        border-bottom: none;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        vertical-align: middle;
    }
}
